*{
    margin: 0;
    padding: 0;
}
.headerBox {
    width: 100vw;
    height: 82px;
    background-color: #000;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}
.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 25px;
    position: fixed;
    top: 82px;
    box-shadow: 0 2px 1px #e4e4e4;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputArea {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.inputArea label {
    gap: auto;
}

img{
    display: block;
    width: 100px;
    height: 100px;
}
.card {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    gap: 15px;
    border: #000 solid 1px;
}