*{
    margin: 0;
    padding: 0;
}
.headerBox {
    width: 100vw;
    height: 82px;
    background-color: #000;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 25px;
    position: fixed;
    top: 82px;
}